OPENROUTER_API_KEY=sk-or-...
# Fill in API keys other LiteLLM natively supported services
# See https://docs.litellm.ai/docs/providers
# OPENAI_API_KEY = ...
# NOVITA_API_KEY = ...


TELEGRAM_BOT_TOKEN=...
